.cart-container {
  width: 1200px;
  margin: auto;
  margin-top: 80px;
  border: 1px solid #e6e6e6;
  border-bottom: none; }
  .cart-container .cart-container-top {
    line-height: 46px;
    background-color: #f5f5f5;
    padding-left: 10px;
    font-size: 12px;
    color: #666; }
    .cart-container .cart-container-top span {
      color: #fd3344;
      text-align: left; }
    .cart-container .cart-container-top tr {
      text-align: center; }
  .cart-container .cart-container-main {
    text-align: center;
    border-bottom: 1px solid #e6e6e6; }
    .cart-container .cart-container-main td img {
      width: 60px;
      height: 60px;
      display: inline-block;
      vertical-align: middle;
      margin: 8px 0; }
    .cart-container .cart-container-main td p {
      display: inline-block;
      margin-left: 10px;
      color: #000; }
    .cart-container .cart-container-main td .cart-change-num span,
    .cart-container .cart-container-main td .cart-change-num input {
      display: inline-block; }
    .cart-container .cart-container-main td .cart-change-num input {
      width: 30px;
      height: 20px;
      border: 1px solid #999;
      text-align: center;
      line-height: 20px; }
    .cart-container .cart-container-main td .cart-change-num span {
      background: #fafafa;
      width: 20px;
      height: 20px;
      border: 1px solid #eee;
      font-size: 13px;
      text-align: center;
      line-height: 20px;
      cursor: pointer; }
      .cart-container .cart-container-main td .cart-change-num span:hover {
        color: #c81417; }
    .cart-container .cart-container-main .cart-sprice {
      color: #c81417;
      font-weight: bold;
      font-size: 13px; }
    .cart-container .cart-container-main .cart-del:hover {
      color: #fd3344;
      cursor: pointer; }

.cart-container-buttom {
  width: 1200px;
  margin: auto;
  border: 1px solid #e6e6e6;
  background-color: #f5f5f5;
  margin-top: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  line-height: 50px; }
  .cart-container-buttom input {
    vertical-align: middle;
    margin-right: 20px; }
  .cart-container-buttom p {
    float: left;
    margin-left: 40px; }
    .cart-container-buttom p:hover {
      color: #fd3344;
      cursor: pointer; }
  .cart-container-buttom .cart-buttom-all {
    float: right; }
    .cart-container-buttom .cart-buttom-all span:nth-child(2) {
      color: #ff3344;
      font-weight: bolder;
      font-size: 16px; }
    .cart-container-buttom .cart-buttom-all button {
      width: 100px;
      background: #ff3344;
      text-align: center;
      color: #fff;
      font-weight: bold;
      font-size: 16px; }
