@charset "UTF-8";
.log-form-box {
  width: 350px;
  border: 1px solid #D0D0D0;
  margin-top: 75px;
  background: #fff;
  font-family: "宋体";
  position: relative; }
  .log-form-box .qrc {
    width: 50px;
    height: 50px;
    font-size: 50px;
    color: #c81417;
    position: absolute;
    right: 0; }
  .log-form-box .log-form-top {
    padding-left: 20px;
    line-height: 50px;
    font-size: 13px; }
    .log-form-box .log-form-top a {
      color: #FF7800; }
      .log-form-box .log-form-top a:hover {
        color: #c81417; }
  .log-form-box .log-form-main {
    width: 240px;
    margin: auto; }
    .log-form-box .log-form-main .log-ipt {
      width: 100%;
      border-radius: 10px;
      line-height: 40px;
      height: 40px;
      border: 1px solid #D0D0D0; }
      .log-form-box .log-form-main .log-ipt span {
        display: inline-block;
        margin: 0 15px;
        color: #D0D0D0; }
    .log-form-box .log-form-main p {
      font-size: 12px;
      line-height: 30px; }
    .log-form-box .log-form-main .log-remb {
      width: 100%;
      margin-top: 30px;
      color: #D0D0D0; }
      .log-form-box .log-form-main .log-remb input {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px; }
      .log-form-box .log-form-main .log-remb a {
        color: #D0D0D0;
        float: right; }
        .log-form-box .log-form-main .log-remb a:hover {
          color: #c81417; }
    .log-form-box .log-form-main button {
      width: 100%;
      background: #c81417;
      border-radius: 5px;
      text-align: center;
      color: #fff;
      line-height: 40px;
      margin-top: 10px;
      cursor: pointer; }
    .log-form-box .log-form-main .social-log {
      text-align: center; }
      .log-form-box .log-form-main .social-log span {
        cursor: pointer; }
        .log-form-box .log-form-main .social-log span:first-child {
          font-size: 50px;
          vertical-align: middle;
          color: #55abe3; }
        .log-form-box .log-form-main .social-log span:nth-child(2) {
          font-size: 45px;
          vertical-align: middle;
          color: #11cd6d; }
