.sider {
    position: fixed;
    top: 100px;
    right: 0px;
    width: 385px;
    height: 600px;
    z-index: 1;
}

.sider-left {
    width: 51px;
    height: 364px;
}

.sider-right {
    width: 331px;
    height: 600px;
    border: 1px solid #f0f0f0;
    box-shadow: 0 1px 3px #eee;
    background-color: #fff;
}

.sider-left>li {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 10px 0px 0px 10px;
    margin-bottom: 2px;
    border: 1px solid #f0f0f0;
    position: relative;
    border-right: none;
    margin-left: 1px;
    cursor: pointer;
    box-sizing: border-box;
}

.sider-left span {
    width: 50px;
    text-align: center;
    display: inline-block;
    line-height: 50px;
    font-size: 25px;
}

.sider-right .sider-del {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
}

.sider-right .sider-del>span {
    float: right;
    font-size: 20px;
    width: 25px;
    line-height: 50px;
    color: #d0d0d0;
    cursor: pointer;
}

.sider-right-main {
    position: relative;
}

.sider-right-main .qrc {
    width: 60px;
    height: 60px;
    font-size: 55px;
    color: #c81417;
    position: absolute;
    right: 0;
}

.sider-user .icon-ren {
    width: 62px;
    height: 62px;
    margin: auto;
    margin-top: 20px;
    font-size: 50px;
    color: #d8d8d8;
}

.sider-user .username,
.password {
    width: 200px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    padding: 2px 0px;
    margin: 20px auto;

}

.sider-user .icon-user,
.icon-mima {
    display: inline-block;
    width: 33px;
    height: 100%;
    text-align: center;
    font-size: 18px;
    color: #c0c0c0;
    background-color: #f8f8f8;
    margin-right: 5px;

}

.sider-user .loggin-check {
    width: 200px;
    margin: auto;
}

.sider-user .loggin-check>input {
    width: 102px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    line-height: 28px;
}

.sider-user .loggin-check>div {
    float: right;
    width: 70px;
    height: 30px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
}

.sider-user .rmbpassword {
    width: 200px;
    margin: 20px auto;
}

.sider-user .rmbpassword>span {
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
    color: #d0d0d0;
}

.sider-user .login-btn {
    display: block;
    margin: auto;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background-color: #c81417;
    text-align: center;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
}

.sider-user .login-buttom {
    width: 200px;
    line-height: 30px;
    margin: auto;
    margin-top: 30px;
}

.sider-user .login-buttom a {
    color: #d0d0d0;
}

.sider-user .login-buttom a:hover {
    color: #c81417;
}